svg {
  width:250px;
}

header {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A49D9D;
  opacity: 0.8;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  background-color: white;
}

footer {
  font-family: 'Open Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Open+Sans:wdth,wght@91.4,500&family=Roboto:wght@300&display=swap');

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
  filter: brightness(150%);
  filter: drop-shadow(8px 8px 10px black);
}

#models {
  margin-top: 75px;
}

#form {
  background-color: #99ffff; 
  text-align: center;
  width: 50%;
  margin-left: 400px;
}

.email {
  padding: 10px;
  border-radius: 5px;
}

.submit {
  font-size: 15px;
  padding: 5px;
  width: 10em;
  line-height: 1.4;
  border-radius: 5px;
  background-color: #4d94ff;
}

@media only screen and (max-width: 800px) {
  body {
    flex-wrap: wrap;
  }
}
