@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@200&family=Source+Sans+3&display=swap');

body
{
  font-family: 'Source Sans 3', sans-serif;
  line-height: 1.4;
  background-color: #d7dcdd;
  width: 500px;
  margin: auto;
}
form
{
  background:rgb(86, 173, 240,0.2);
  padding:2.5rem,2.5rem;
  border-radius:1rem;
  width:500px;
  margin:auto;
}

.submit-button
{
  width:400px;
  padding:0.75rem;
  background:red;
  color:white;
  border-radius:5px;
  cursor:pointer;  
}

.input-headings
{
  margin: 0 auto 1.25rem auto;
  padding: 1.25rem;
}

.form-inputs{
  display: block;
  width: 90%; 
  height: 2rem;
  padding: 0.25rem 0.75rem;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;  
}
